# Основные зависимости
asyncio>=3.4.3
aiohttp>=3.8.4
httpx>=0.24.1
requests>=2.28.2
colorama>=0.4.6

# Телеграм
telethon>=1.28.5
aiogram>=2.25.1

# Безопасность
cryptography>=41.0.3

# Браузерная автоматизация
playwright>=1.38.0
playwright-stealth>=1.0.5
pyppeteer>=1.0.2

# Работа с процессами
psutil>=5.9.5

# Дополнительные зависимости
python-dotenv>=1.0.0